<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

    <body>
      <%- include('../partials/header'); %>
      <main>
        <h1>Favorites</h1>
        <% if(locals.favorites && locals.favorites.length){ %>
          <% favorites.forEach(favorite => { %>
            <article class="favorite-container">
              <a href="<%= url %>symbol/<%= favorite.symbol %>"><h2 class="favorite-symbol"><%= favorite.symbol %></h2></a>
              <p>Last updated: <%= favorite.updated.toDateString() === new Date().toDateString() ? 'today' : `on ${favorite.updated.toLocaleDateString('en-GB', { weekday: 'long' })}` %> at <%= favorite.updated.toLocaleTimeString('en-GB').slice(0, -3) %></p>
              <form action="/remove" method="POST">
                <button type="submit" name="symbol" value="<%= favorite.symbol %>">Remove <%= favorite.symbol %> from your favorites</button>
              </form>
              <h2>Static quote:</h2>
              <p>Current: $<%= favorite.quote.c %></p>
              <p>Open: $<%= favorite.quote.o %></p>
              <p>High: $<%= favorite.quote.h %></p>
              <p>Low: $<%= favorite.quote.l %></p>
              <% if(favorite.news.length){ %>
                <h2>News today:</h2>
              <% } else{ %>  
                <h2 class="no-news">No news today</h2>
              <% } %>
              <% favorite.news.forEach(newsItem => { %>
                <a class="news-block" href="<%= newsItem.url %>">
                  <h3><%= newsItem.headline %></h3>
                  <h3><%= new Date(newsItem.datetime * 1000).toDateString() %></h3>
                  <p><%= newsItem.summary %></p>
                  <img src="<%= newsItem.image %>" alt="<%= newsItem.headline %>"/>
                </a>
              <% }) %>
            </article>
          <% }) %>
        <% } else { %>  
          <p>You have no favorites yet.</p>
        <% } %>
      </main>
      
    </body>

</html>
