<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

    <body>
      <%- include('../partials/header'); %>

      <main>
        <h1>News</h1>
        <form action="/news" method="POST">
          <label>
            Symbol
            <input type="text" name="symbol" value="<%= locals.input && input.symbol %>" placeholder="Symbol" />
          </label>
          <label>
            From
            <input type="date" name="from" value="<%= locals.input && input.from %>" />
          </label>
          <label>
            To
            <input type="date" name="to" value="<%= locals.input && input.to %>" />
          </label>
          <button type="submit">Get news</button>
        </form>
        <% if (locals.news) { %>
          <section class="news-container">              
          <% news.forEach(newsItem => { %>
            <a class="news-block" href="<%= newsItem.url %>">
              <h3><%= newsItem.headline %></h3>
              <h3><%= new Date(newsItem.datetime * 1000).toDateString() %></h3>
              <p><%= newsItem.summary %></p>
              <img src="<%= newsItem.image %>" alt="<%= newsItem.headline %>"/>
            </a>
          <% }) %>
          </section>
        <% } %>
      </main>
      
      <%- include('../partials/footer'); %>
    </body>

</html>