<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

    <body>
      <%- include('../partials/header'); %>

      <% if (quote) { %>
        <p>Current: $<%= quote.c %></p>
        <p>Open: $<%= quote.o %></p>
        <p>High: $<%= quote.h %></p>
        <p>Low: $<%= quote.l %></p>
      <% } %>

      <%- include('../partials/footer'); %>
    </body>

</html>