<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

    <body>
      <%- include('../partials/header'); %>

      <h1>Quote</h1>
      
      <form action="/quote" method="POST">
        <label>
          Symbol
          <input type="text" name="symbol" value="<%= locals.symbol && symbol %>" />
        </label>
        <button type="submit">Submit</button>
      </form>

      <% if (locals.quote) { %>
        <p>Current: $<%= quote.c %></p>
        <p>Open: $<%= quote.o %></p>
        <p>High: $<%= quote.h %></p>
        <p>Low: $<%= quote.l %></p>
      <% } %>

      <%- include('../partials/footer'); %>
    </body>

</html>