<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

    <body>
      <%- include('../partials/header'); %>

      <main>
        <h1>Symbol</h1>
        <form action="/symbol" method="POST">
          <label>
            Symbol
            <input type="text" name="symbol" value="<%= locals.symbol && symbol %>" />
          </label>
          <button type="submit">Submit</button>
        </form>

        <% if (locals.quote) { %>
          <h2>Static quote</h2>
          <p>Current: $<%= quote.c %></p>
          <p>Open: $<%= quote.o %></p>
          <p>High: $<%= quote.h %></p>
          <p>Low: $<%= quote.l %></p>
        <% } %>
  
        <% if (locals.symbol) { %>
          <h2>Live price</h2>
          <p id="live-symbol">Loading live data, this might take a second...</p>
          <script>
            const 
              symbol = <%- JSON.stringify(symbol) %>,
              token = <%- JSON.stringify(token) %>
          </script>
          <script src="/scripts/socket.js"></script>
          <form action="/favorites" method="POST">
            <button type="submit" name="symbol" value="<%= locals.symbol && symbol %>">Add to favorites</button>
          </form>
          <h2>Subscribe to notifications</h2>
          <p id="errorMsg">Oops... something went wrong!</p>
          <form id="subscribeForm">
            <label>
              Price
              <input id="price" type="number">
            </label>
            <button type="submit">Subscribe</button>
          </form>
          <script>
            const vapidKey = <%- JSON.stringify(publicVapidKey) %>
          </script>
          <script src="/scripts/subscribe.js"></script>
        <% } %>
        <% if (locals.news) { %>
          <h2>News from the past week</h2>
          <section class="news-container">              
          <% news.forEach(newsItem => { %>
            <a class="news-block" href="<%= newsItem.url %>">
              <h2><%= newsItem.headline %></h2>
              <h3><%= new Date(newsItem.datetime * 1000).toDateString() %></h3>
              <p><%= newsItem.summary %></p>
              <img src="<%= newsItem.image %>"/>
            </a>
          <% }) %>
          </section>
        <% } %>
      </main>
      
      <%- include('../partials/footer'); %>
    </body>

</html>
