<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

    <body>
      <%- include('../partials/header'); %>

      <main class="m-main">
        <h1>Symbol lookup</h1>
        <form action="/symbol" method="POST">
          <label>
            Symbol
            <input type="text" name="symbol" value="<%= locals.symbol && symbol %>" placeholder="Symbol"/>
          </label>
          <button type="submit">Look up symbol</button>
        </form>
        <% if (locals.symbol) { %>
        <form action="/favorites" method="POST">
          <button type="submit" name="symbol" value="<%= symbol %>">Add <%= symbol %> to your favorites</button>
        </form>
        <% } %>

        <% if (locals.quote) { %>
          <h2>Static quote</h2>
          <p>Current: $<%= quote.c %></p>
          <p>Open: $<%= quote.o %></p>
          <p>High: $<%= quote.h %></p>
          <p>Low: $<%= quote.l %></p>
        <% } %>
  
        <% if (locals.symbol) { %>
          <section id="liveSection">
            <h2>Live price</h2>
            <p id="live-symbol">Loading live data, this might take a second...</p>
          </section>
          <form id="subscribeForm">
            <label>
              Get a notification when the price drops below a certain point:
              <input id="price" type="number" placeholder="Price ($)">
            </label>
            <button id="subscribeButton" type="submit">Subscribe to notifications</button>
          </form>
          <script>
            const 
              symbol = <%- JSON.stringify(symbol) %>,
              token = <%- JSON.stringify(token) %>,
              vapidKey = <%- JSON.stringify(publicVapidKey) %>
          </script>
          <script src="/scripts/socket.js"></script>
          <script src="/scripts/subscribe.js"></script>
        <% } %>
        <% if (locals.news && locals.news.length) { %>
          <h2>News from the past week</h2>
          <section class="news-container">              
          <% news.forEach(newsItem => { %>
            <a class="news-block" href="<%= newsItem.url %>">
              <h3><%= newsItem.headline %></h3>
              <h3><%= new Date(newsItem.datetime * 1000).toDateString() %></h3>
              <p><%= newsItem.summary %></p>
              <img src="<%= newsItem.image %>" alt="<%= newsItem.headline %>"/>
            </a>
          <% }) %>
          </section>
        <% } %>
      </main>
      
    </body>

</html>
